{% extends 'base.html.twig' %}

{% block content %}
   <div class="cardbox">                
        <div class="cardbox-heading">
        <ul class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="dashboard.html">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('marca_index') }}">Marcas</a></li>
            <li class="breadcrumb-item active"><a href="{{ path('marca_new') }}">Nueva Marca</a></li>
            <li class="breadcrumb-item active"><span>Editar Marca</span></li>
        </ul>
        </div>
    </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="cardbox">
                    <div class="pb-1 bg-gradient-warning"></div>
                    <div class="cardbox-body">
                        <div class="d-flex">
                         {# <div class="mr-4"><img class="shadow-z5 thumb80 rounded" src="{{asset('bundles/reporte/assets/img/user/123.png')}}" alt="user"></div>#}
                          <div class="mb-3"><img class="wd-sm rounded-circle img-thumbnail" src="{{asset('bundles/reporte/assets/img/user/123.png')}}" alt="user"></div>
                          <div class="cardbox-body text-center">
                            <div class="h3 my-2"><strong>INSTITUTO DE INVESTIGACIÓN EN HUMANIDADES Y CIENCIAS SOCIALES</strong></div>
                            <div class="pb-1 bg-gradient-warning"></div>
                            <p>SECRETARIA EJECUTUVA/ CENTRO DE COMPUTO/ SOPORTE TECNICO</p>
                            <div class="pb-1 bg-gradient-warning"></div>
                            <div class="cardbox-body"><small>Av. Universidad 1001, Chamilpa Cuernavaca Morelos, 62209 México Tel: 329 70000 ext. 3453</small>
                          </div>
                           </div>
                          <div class="ml-auto mb-3""><img class="wd-sm rounded-circle img-thumbnail"  src="{{asset('bundles/reporte/assets/img/12345.png')}}" alt="user"></div>
                          <div>
                        </div>                 
                       </div>
                    </div>              
                </div>  
            </div>  
        </div>
{{ form_start(edit_form) }}
        <div class="cardbox">       
                <div class="cardbox-body">                   
                    <fieldset>
                        <div class="form-group row">    
                            <label class="col-sm-2 col-form-label">Nombre de la Marca</label>
                            <div class="col-sm-6 rel-wrapper ui-datepicker ui-datepicker-popup dp-theme-info" id="example-datepicker-container-4" >
                                {{ form_widget(edit_form.nombre) }}                                                   
                            </div>
                        </div>  
                    </fieldset> 
                     <div class="cardbox-body text-center">
                        <a class="mb-4 btn btn-lg btn-gradient wd-sm btn-warning" href="{{ path('marca_edit', { 'id': marca.id }) }}">EDITAR</a>
                    
                    {{ form_end(edit_form) }}
                     
            </div>
        </div>

{% endblock %}

{% block Javascript %}

    
{% endblock %}

