{% extends 'base.html.twig' %}

{% block content %}
    <h1>Prestamos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fechainicio</th>
                <th>Fechafin</th>
                <th>Atendido</th>
                <th>Ubicacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prestamo in prestamos %}
            <tr>
                <td><a href="{{ path('prestamos_show', { 'id': prestamo.id }) }}">{{ prestamo.id }}</a></td>
                <td>{% if prestamo.fechaInicio %}{{ prestamo.fechaInicio|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if prestamo.fechaFin %}{{ prestamo.fechaFin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if prestamo.atendido %}Yes{% else %}No{% endif %}</td>
                <td>{{ prestamo.ubicacion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('prestamos_show', { 'id': prestamo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('prestamos_edit', { 'id': prestamo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('prestamos_new') }}">Create a new prestamo</a>
        </li>
    </ul>
{% endblock %}
