{% extends 'base.html.twig' %}
{% block content %}
    <div class="cardbox">                
        <div class="cardbox-heading">
            <ul class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="dashboard.html">Home</a></li>
                <li class="breadcrumb-item active"><span>Alumnos</span></li>
            </ul>
        </div>
    </div>
<div class="cardbox">    
<div class="col-sm-12">
    <div class="cardbox text-white bg-gradient-primary b0">
        <div class="cardbox-body text-center">           
            <div class="text-bold display-1">listado de Alumnos</div>
        <br></br>
             <a class="btn btn-secondary btn-gradient wd-sm btn-danger" href="{{ path('alumnos_new') }}">Nuevo Alumno</a>
    </div>
</div> 
</div>
</div>
<div class="cardbox"> 
<div class="container">     
    <div class="cardbox-body clearfix">
        <div class="table-responsive">
            <table class=" table table table-striped my-4 " id="datatable2">
                <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Matricula</th>
                <th>Telcel</th>
                <th>Cargo</th>
                <th>Departamento</th>
                <th>Licenciatura</th>
                <th>Semestre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for alumno in alumnos %}
            <tr>
                <td><a href="{{ path('alumnos_show', { 'id': alumno.id }) }}">{{ alumno.id }}</a></td>
                <td>{{ alumno.nombre }}</td>
                <td>{{ alumno.telefono }}</td>
                <td>{{ alumno.eMail }}</td>
                <td>{{ alumno.matricula }}</td>
                <td>{{ alumno.telCel }}</td>
                <td>{{ alumno.cargo }}</td>
                <td>{{ alumno.departamento }}</td>
                <td>{{ alumno.licenciatura }}</td>
                <td>{{ alumno.semestre }}</td>
                 <td>
                        <ul>                          
                            <a class="btn btn-outline-primary" href="{{ path('alumnos_show', { 'id': alumno.id }) }}">ver</a>
                            <a class="btn btn-outline-danger" href="{{ path('alumnos_edit', { 'id': alumno.id }) }}">editar</a>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block Javascript %}


  
{% endblock Javascript %}
