{% extends 'base.html.twig' %}

{% block content %}
    <h1>Alumnos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Matricula</th>
                <th>Telcel</th>
                <th>Cargo</th>
                <th>Departamento</th>
                <th>Licenciatura</th>
                <th>Semestre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for alumno in alumnos %}
            <tr>
                <td><a href="{{ path('alumnos_show', { 'id': alumno.id }) }}">{{ alumno.id }}</a></td>
                <td>{{ alumno.nombre }}</td>
                <td>{{ alumno.telefono }}</td>
                <td>{{ alumno.eMail }}</td>
                <td>{{ alumno.matricula }}</td>
                <td>{{ alumno.telCel }}</td>
                <td>{{ alumno.cargo }}</td>
                <td>{{ alumno.departamento }}</td>
                <td>{{ alumno.licenciatura }}</td>
                <td>{{ alumno.semestre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('alumnos_show', { 'id': alumno.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('alumnos_edit', { 'id': alumno.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('alumnos_new') }}">Create a new alumno</a>
        </li>
    </ul>
{% endblock %}
