{% extends 'base.html.twig' %}

{% block content %}
   <div class="cardbox">                
        <div class="cardbox-heading">
        <ul class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="dashboard.html">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('alumnos_index') }}">Alumnos</a></li>
            <li class="breadcrumb-item active"><span>nuevo Alumno</span></li>
        </ul>
        </div>
    </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="cardbox">
                    <div class=" pb-1 bg-gradient-primary"></div>
                    <div class="cardbox-body">
                        <div class="d-flex">
                         {# <div class="mr-4"><img class="shadow-z5 thumb80 rounded" src="{{asset('bundles/reporte/assets/img/user/123.png')}}" alt="user"></div>#}
                          <div class="mb-3"><img class="wd-sm rounded-circle img-thumbnail" src="{{asset('bundles/reporte/assets/img/user/123.png')}}" alt="user"></div>
                          <div class="cardbox-body text-center">
                            <div class="h3 my-2"><strong>INSTITUTO DE INVESTIGACIÓN EN HUMANIDADES Y CIENCIAS SOCIALES</strong></div>
                                <div class=" pb-1 bg-gradient-primary"></div>
                            <p>SECRETARIA EJECUTUVA/ CENTRO DE COMPUTO/ SOPORTE TECNICO</p>
                                <div class="pb-1 bg-gradient-primary"></div>
                            <div class="cardbox-body"><small>Av. Universidad 1001, Chamilpa Cuernavaca Morelos, 62209 México Tel: 329 70000 ext. 3453</small>
                          </div>
                           </div>
                          <div class="ml-auto mb-3""><img class="wd-sm rounded-circle img-thumbnail"  src="{{asset('bundles/reporte/assets/img/12345.png')}}" alt="user"></div>
                          <div>
                        </div>                 
                       </div>
                    </div>              
                </div>  
            </div>  
        </div>
{{ form_start(form) }}
        <div class="cardbox">       
                <div class="cardbox-body">                   
                    <fieldset>
                        <div class="form-group row">    
                            <label class="col-sm-2 col-form-label">Nombre del Alumno o Administrativo</label>
                            <div class="col-sm-6 rel-wrapper ui-datepicker ui-datepicker-popup dp-theme-info" id="example-datepicker-container-4" >
                                {{ form_widget(form.nombre) }}                                                   
                            </div>
                        </div>  
                    </fieldset> 
                    <fieldset>
                        <div class="form-group row">    
                            <label class="col-sm-2 col-form-label">Telefono</label>
                            <div class="col-sm-6 rel-wrapper ui-datepicker ui-datepicker-popup dp-theme-info" id="example-datepicker-container-4" >
                                {{ form_widget(form.telefono) }}   
                                                 
                            </div>
                        </div>  
                    </fieldset>
                     <fieldset>
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Email</label>                      
                            <div class="col-sm-6 " >
                                 {{ form_widget(form.eMail) }}
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Matricula</label>                      
                            <div class="col-sm-6 " >
                                 {{ form_widget(form.matricula) }}
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Tel. Celular</label>                      
                            <div class="col-sm-6 " >
                                {{ form_widget(form.telCel) }}
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="form-group row">    
                            <label class="col-sm-2 col-form-label">Cargo</label>
                            <div class="col-sm-6 " >
                                {{ form_widget(form.cargo) }}                      
                            </div>
                        </div>  
                    </fieldset>  
                    <fieldset>
                        <div class="form-group row">    
                            <label class="col-sm-2 col-form-label">Departamento</label>
                            <div class="col-sm-6 " >
                                {{ form_widget(form.departamento) }}  
                                                    
                            </div>
                        </div>  
                    </fieldset>
                    <fieldset>
                        <div class="form-group row">    
                            <label class="col-sm-2 col-form-label">Licenciatura</label>
                            <div class="col-sm-6 " >
                                {{ form_widget(form.licenciatura) }}  
                                                    
                            </div>
                        </div>  
                    </fieldset>
                    <fieldset>
                        <div class="form-group row">    
                            <label class="col-sm-2 col-form-label">Semestre</label>
                            <div class="col-sm-6 " >
                                {{ form_widget(form.semestre) }}  
                                                    
                            </div>
                        </div>  
                    </fieldset>
                    <div class="cardbox-body text-center">
                        <input class="mb-4 btn btn-lg btn-gradient wd-sm btn-primary" type="submit" value="CREAR" />
                    </div>
                     {{ form_end(form) }}
            </div>
        </div>

                   

  {#<input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('control_index') }}">Back to the list</a>
        </li>
    </ul>#}
{% endblock %}

{% block Javascript %}

    
{% endblock %}