{% extends 'base.html.twig' %}

{% block content %}
    <h1>Alumno</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ alumno.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ alumno.nombre }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ alumno.telefono }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ alumno.eMail }}</td>
            </tr>
            <tr>
                <th>Matricula</th>
                <td>{{ alumno.matricula }}</td>
            </tr>
            <tr>
                <th>Telcel</th>
                <td>{{ alumno.telCel }}</td>
            </tr>
            <tr>
                <th>Cargo</th>
                <td>{{ alumno.cargo }}</td>
            </tr>
            <tr>
                <th>Departamento</th>
                <td>{{ alumno.departamento }}</td>
            </tr>
            <tr>
                <th>Licenciatura</th>
                <td>{{ alumno.licenciatura }}</td>
            </tr>
            <tr>
                <th>Semestre</th>
                <td>{{ alumno.semestre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('alumnos_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('alumnos_edit', { 'id': alumno.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
