{% extends 'base.html.twig' %}

{% block content %}
    <div class="cardbox">                
        <div class="cardbox-heading">
            <ul class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="dashboard.html">Home</a></li>
                <li class="breadcrumb-item active"><span>Clases</span></li>
            </ul>
        </div>
    </div>
<div class="cardbox">    
<div class="col-sm-12">
    <div class="cardbox text-white bg-gradient-primary b0">
        <div class="cardbox-body text-center">           
            <div class="text-bold display-1">listado de Clases</div>
        <br></br>
             <a class="btn btn-secondary btn-gradient wd-sm btn-danger" href="{{ path('daniel_new') }}">Nueva Clase</a>
    </div>
</div> 
</div>
</div>
<div class="cardbox"> 
<div class="container">     
    <div class="cardbox-body clearfix">
        <div class="table-responsive">
            <table class=" table table table-striped my-4 " id="datatable2">
                <thead>
            <tr>
                <th>Id</th>
                <th>Horainicio</th>
                <th>Horafin</th>
                <th>Software</th>
                <th>Totalalumnos</th>
                <th>Observaciones</th>
                <th>Fecha</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for daniel in daniels %}
            <tr>
                <td><a href="{{ path('daniel_show', { 'id': daniel.id }) }}">{{ daniel.id }}</a></td>
                <td>{% if daniel.horaInicio %}{{ daniel.horaInicio|date('H:i:s') }}{% endif %}</td>
                <td>{% if daniel.horaFin %}{{ daniel.horaFin|date('H:i:s') }}{% endif %}</td>
                <td>{{ daniel.software }}</td>
                <td>{{ daniel.totalAlumnos }}</td>
                <td>{{ daniel.observaciones }}</td>
                <td>{% if daniel.fecha %}{{ daniel.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>                          
                            <a class="btn btn-outline-primary" href="{{ path('daniel_show', { 'id': daniel.id }) }}">ver</a>
                            <a class="btn btn-outline-danger" href="{{ path('daniel_edit', { 'id': daniel.id }) }}">editar</a>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}
