{% extends 'base.html.twig' %}
{% block content %}
    <div class="cardbox">                
        <div class="cardbox-heading">
            <ul class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="dashboard.html">Home</a></li>
                <li class="breadcrumb-item active"><span>Materias</span></li>
            </ul>
        </div>
    </div>
<div class="cardbox">    
<div class="col-sm-12">
    <div class="cardbox text-white bg-gradient-primary b0">
        <div class="cardbox-body text-center">           
            <div class="text-bold display-1">listado de Materias</div>
        <br></br>
             <a class="btn btn-secondary btn-gradient wd-sm btn-danger" href="{{ path('materia_new') }}">Nueva Materia</a>
    </div>
</div> 
</div>
</div>
<div class="cardbox"> 
<div class="container">     
    <div class="cardbox-body clearfix">
        <div class="table-responsive">
            <table class=" table table table-striped my-4 " id="datatable2">
                <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for materium in materias %}
            <tr>
                <td><a href="{{ path('materia_show', { 'id': materium.id }) }}">{{ materium.id }}</a></td>
                <td>{{ materium.nombre }}</td>
               <td>
                        <ul>                          
                            <a class="btn btn-outline-primary" href="{{ path('materia_show', { 'id': materium.id }) }}">ver</a>
                            <a class="btn btn-outline-danger" href="{{ path('materia_edit', { 'id': materium.id }) }}">editar</a>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}
